<% method = (@post.persisted? ? "PATCH" : "POST") %>
<% submit_text = (@post.persisted? ? "Update post" : "Create post") %>
<% action = (@post.persisted? ? post_url(@post) : posts_url) %>

<form action="<%= action %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>
  <label>
    Title:
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <br>

  <label>
    Content<br>
    <textarea name="post[content]" rows="8" cols="40"><%= @post.content %></textarea>
  </label>
  <br>

  <label>
    URL
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <br>
  <% Sub.all.each do |sub| %>
    <label>
    <br>
    <%= sub.title %>
    <input type="Checkbox"
      name="post[sub_ids][]"
      value="<%= sub.id %>"
      <%= "checked" if @sub_ids.include?(sub.id) %>>
    </label>
  <% end %>

  <input type="submit" value="<%= submit_text %>">
</form>
